.gradle/
build/
out/
classes/
*.launch
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
bin/
.classpath
.project
*.DS_Store
/run*/
logs/
mods/
/dist/
hs_err_*.log
replay_*.log
*.hprof
*.jfr
*.log
.env
.env.*
!.env.example
_template/
